/* dekko-regular - latin */
@font-face {
    font-family: 'Dekko';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('./fonts/dekko-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('./fonts/dekko-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

body {
    font-family: 'Dekko';
    background-color: lightblue;
}

.navbar {
    background-color: rgb(69, 113, 128);
}

h1,
h2,
h3,
h4 {
    font-family: 'Dekko', bold;
}

h2,
h3,
h4,
p,
ul {
    color: rgb(44, 44, 44);
}

#home {
    height: calc(100vh - 56px);
}

#about,
#personas {
    background-color: rgb(219, 245, 255);
}

.profile {
    border: 0.2rem solid white;
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}

.empathy-map {
    width: 70%;
    /* width: 30rem;
    height: 30rem; */
    object-fit: cover;
}

#storyboard-drawing {
    width: 80%;
    object-fit: cover;
}

#interface-img {
    width: 30rem;
    height: 30rem;
}